@font-face{
    src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
    font-family: 'Open Sans';
}
body{
    background-color: #f1f4f9;
    font-family: 'Open Sans';
    direction: rtl;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container,.random-sorah{
    margin: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

p {
    text-align: center;
    direction: rtl;
    text-wrap: balance;
    font-size: 20px;
    font-weight: bold;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.random-sorah {
    font-size: 25px;
    font-weight: bold;
    gap: 20px;
}
/* Fram Work */
.button{
    padding: 10px 15px;
    border-radius: 6px;
    border: 1px solid #eee;
    background-color: #ea4235;
    color: white;
    width: fit-content;
    user-select: none;
    cursor: pointer;
    font-weight: bold;
}
.hidden{
    display: none !important;
}
.between-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.center-col-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.full-width{
    width: 100%;
}
/* Fram Work */